{% extends 'base.html' %}
{% block title %}Ranking Player Matches{% endblock %}
{% block content %}
    <div class="container">
        <h3 style="color:white">
            <a href="/ranking/">Rankings</a>
                <span> > </span>
            <a href="/ranking/{{ ranking_data.id }}/participants/"> {{ranking_data.name}}</a>
                <span> > </span>
            {% if event_data is not none %}
                <a href="/ranking/{{ranking_data.id}}/event/{{event_data.id}}/matches">{{event_data.event_name}}</a>
                <span> > </span>
            {% endif %}
            <span> {{participant_data.gamertag}}</span>
        </h3>
        <p class="lead"></p>
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th>Score</th>
                <th>Player</th><th>Points</th><th>Change</th>
                <th>Opponent</th><th>Points</th><th>Change</th>
                {% if event_data is none %}
                    <th>Event</th>
                {% else %}
                    <th> Time </th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for set in participant_sets %}
                <tr>
                    {% if set.winner_id == participant_data.id %}
                        <td><span style="color:green">{{set.winner_score}} - {{set.loser_score}}</span></td>
                        <!--
                        <td><a href="https://www.smash.gg/{{ set.winner_id | replace('_','/') }}" target="_blank">{{set.winner_gamertag}}</a></td>
                        -->
                        <td><span>{{set.winner_gamertag}}</span></td>
                        <td><span style="color:white">{{set.winner_points}}</span></td>
                        <td><span style="color:green">{{set.winner_change}}</span></td>
                        {% if event_data is not none %}
                            <!--<td><a href="/ranking/{{ranking_data.id}}/participant/{{set.loser_id}}/matches">{{set.loser_gamertag}}</a></td>-->
                            <td>
                                <a href="{{ url_for(request.endpoint, participant_id=set.loser_id, event=event_data.id, ranking_id=ranking_data.id) }}" >
                                    {{set.loser_gamertag}}
                                </a>
                            </td>
                        {% else %}
                            <td><a href="/ranking/{{ranking_data.id}}/participant/{{set.loser_id}}/matches">{{set.loser_gamertag}}</a></td>
                        {% endif %}
                        <td><span style="color:white">{{set.loser_points}}</span></td>
                        <td><span style="color:red">{{set.loser_change}}</span></td>
                    {% else %}
                        <td><span style="color:red">{{set.loser_score}} - {{set.winner_score}}</span></td>
                        <td><span>{{set.loser_gamertag}}</span></td>
                        <td><span style="color:white">{{set.loser_points}}</span></td>
                        <td><span style="color:red">{{set.loser_change}}</span></td>
                    {% if event_data is none %}
                        <td><a href="/ranking/{{ranking_data.id}}/participant/{{set.winner_id}}/matches">{{set.winner_gamertag}}</a></td>
                    {% else %}
                        <td>
                            <a href="{{ url_for(request.endpoint, participant_id=set.winner_id, event=event_data.id, ranking_id=ranking_data.id) }}" >
                                {{set.winner_gamertag}}
                            </a>
                        </td>
                    {% endif %}
                        <td><span style="color:white">{{set.winner_points}}</span></td>
                        <td><span style="color:green">{{set.winner_change}}</span></td>
                    {% endif %}
                    {% if event_data is none %}
                        <td><a href="{{
                            url_for(
                            request.endpoint, ranking_id=ranking_data.id, page_num=1,
                            page_size=paging_info.page_size, participant_id=participant_data.id, event=set.event_id)
                        }}">{{set.event_name}}</a></td>
                    {% else %}
                        <td><span>{{set.set_datetime}}</span></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if paging_info.max_page > 1 %}
            <nav aria-label="Page nav" class="" >
                <ul class="pagination justify-content-center">
                    {% if paging_info.page_num == 1 %}
                        <li class="page-item disabled bg-dark">
                            <a class="page-link" href="#" aria-disabled="true"><<</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="{{
                                url_for(request.endpoint, ranking_id=ranking_data.id, page_num=1, page_size=paging_info.page_size, participant_id=participant_data.id)
                            }}" ><<</a>
                        </li>
                    {% endif %}
                    {% for p_num in range( [1, paging_info.page_num-2]|max, paging_info.page_num ) %}
                        <li class="page-item" aria-current="page">
                            <a class="page-link" href="{{
                                url_for(request.endpoint, ranking_id=ranking_data.id, page_num=p_num, page_size=paging_info.page_size, participant_id=participant_data.id)
                            }}">{{p_num}}</a>
                        </li>
                    {% endfor %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">{{paging_info.page_num}}</a>
                    </li>
                    {% for p_num in range( paging_info.page_num+1, [paging_info.page_num+3, paging_info.max_page+1]|min ) %}
                        <li class="page-item" aria-current="page">
                        <a class="page-link" href="{{
                            url_for(request.endpoint, ranking_id=ranking_data.id, page_num=p_num, page_size=paging_info.page_size, participant_id=participant_data.id)
                        }}">{{p_num}}</a>
                    </li>
                    {% endfor %}
                    {% if paging_info.page_num == paging_info.max_page %}
                        <li class="page-item disabled bg-dark">
                            <a class="page-link" href="#" aria-disabled="true">>></a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="{{
                                    url_for(request.endpoint, ranking_id=ranking_data.id, page_num=paging_info.max_page, page_size=paging_info.page_size, participant_id=participant_data.id)
                                }}" >>></a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
{% endblock %}