{% extends 'base.html' %}
{% block title %}Ranking Players{% endblock %}
{% block content %}
    <div class="container">
        <h2 style="color:white">
        <a href="/ranking/">Rankings</a>
            <span> > </span>
        <span> {{ranking_data.name}}</span></h2>
        <p class="lead"></p>
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th>Rank</th>
                <th>Player</th>
                <th>Points</th>
                <th>Matches</th>
                <th>Change</th>
            </tr>
            </thead>
            <tbody>
            {% for p in participants %}
            <tr>
                <td><span>#{{p.rank}}</span></td>
                <td><a href="/ranking/{{ranking_data.id}}/participant/{{p.participant_id}}/matches" >{{p.participant_gamertag}}</a></td>
                <td><span >{{p.participant_points}}</span></td>
                <td><a href="/ranking/{{ranking_data.id}}/participant/{{p.participant_id}}/matches" >{{p.set_count}}</a></td>
                <td><span style="color:white">
                    {% if p.up_from_last is none %}
                        {% block no_change %}
                            <span>-</span>
                        {% endblock no_change %}
                    {% endif %}
                    {% if p.up_from_last == True %}
                        {% block up_change %}
                            <span>&uarr;</span>
                        {% endblock up_change %}
                    {% endif %}
                    {% if p.up_from_last == False %}
                        {% block down_change %}
                            <span>&darr;</span>
                        {% endblock down_change %}
                    {% endif %}
                </span></td>
                <!--<td><a href="https://www.smash.gg/{{ p.participant_id | replace('_','/') }}" target="_blank">smash.gg</a></td>-->
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Page nav" class="fixed-bottom" >
            <ul class="pagination justify-content-center">
                {% if paging_info.page_num == 1 %}
                    <li class="page-item disabled bg-dark">
                        <a class="page-link" href="#" aria-disabled="true"><<</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for(request.endpoint, ranking_id=ranking_data.id, page_num=1, page_size=paging_info.page_size) }}" ><<</a>
                    </li>
                {% endif %}
                {% for p_num in range( [1, paging_info.page_num-2]|max, paging_info.page_num ) %}
                    <li class="page-item" aria-current="page">
                        <a class="page-link" href="{{ url_for(request.endpoint, ranking_id=ranking_data.id, page_num=p_num, page_size=paging_info.page_size) }}">{{p_num}}</a>
                    </li>
                {% endfor %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">{{paging_info.page_num}}</a>
                </li>
                {% for p_num in range( paging_info.page_num+1, [paging_info.page_num+3, paging_info.max_page+1]|min ) %}
                    <li class="page-item" aria-current="page">
                    <a class="page-link" href="{{ url_for(request.endpoint, ranking_id=ranking_data.id, page_num=p_num, page_size=paging_info.page_size) }}">{{p_num}}</a>
                </li>
                {% endfor %}
                {% if paging_info.page_num == paging_info.max_page %}
                    <li class="page-item disabled bg-dark">
                        <a class="page-link" href="#" aria-disabled="true">>></a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for(request.endpoint, ranking_id=ranking_data.id, page_num=paging_info.max_page, page_size=paging_info.page_size) }}" >>></a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <!--
        <nav aria-label="Page nav" >
            <ul class="pagination justify-content-center">
            <li class="page-item disabled bg-dark">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>
                <li class="page-item">
                <a class="page-link" href="#">...</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>

        </nav>
        -->
    </div>
{% endblock %}