{% extends 'base.html' %}
{% block title %}Ranking{% endblock %}
{% block content %}
    <div class="container">
        <h4 style="color:white;">
            <ol class="breadcrumb">
                <li><span href="#" >Rankings</span></li>
            </ol>
        </h4>
        <p class="lead"></p>
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th>Ranking</th>
                <th>Game</th>
                <th>Events</th>
                <th>Players</th>
                <th>Matches</th>
                <th>System</th>
            </tr>
            </thead>
            <tbody>
            {% for r in rankings %}
            <tr >
                <td><span style="color:white" >{{r.name}}</span></td>
                <td><span style="color:white">{{r.videogame}}</span></td>
                <td><a class=" " href="/ranking/{{r.id}}/events/">{{r.event_count}}</a></td>
                <td><a href="/ranking/{{r.id}}/participants/" class=" ">{{r.participant_count}}</a></td>
                <td><span class=" ">{{r.match_count}}</span></td>
                <td><span class=" ">{{r.ranking_algorithm_name}}</span></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}