.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    /*background-color: #0d6efd;*/
    background-color: black;
    border-color: #0d6efd;
}

.page-link {
    position: relative;
    display: block;
    color: #0d6efd;
    text-decoration: none;
    background-color: #212529;
    border: 1px solid #373b3e;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #343a40;
    /*border-color: #dee2e6;*/
    border: 1px solid #6c757d;
}

footer {

}